<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=LESTER\SQLEXPRESS;Database=ProyectosDB;User ID=da;Password=da" name="Miconexion" />
    </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
